<app-header></app-header>
<div class="wrapper">
  <mat-card class="login-card">
    <form
      [formGroup]="loginForm" 
      (submit)="onLogin()">
      <mat-form-field class="example-full-width">
        <mat-label>
          E-mail
        </mat-label>
          <input 
            type="email"
            matInput
            formControlName="email">
          <mat-error *ngIf="!loginForm.get('email').valid">
            Error: No email
          </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>
            Password
          </mat-label>
          <input 
            type="password"
            matInput
            formControlName="password">
          <mat-error *ngIf="!loginForm.get('password').valid">
            Error: No password
          </mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!loginForm.valid">
        LOG IN
      </button>
    </form>
  </mat-card>
</div>

