// .wrapper {
//   height: 10rem; 
//   display: flex; 
//   align-items: center; 
//   justify-content:center;
// }

// .icon {
//   width: 50px;
//   height:30px
// }

// p {
//   font-family: Lato;
// }

// .fs-Logo {
//   width: 150px;
//   height: 150px;
//   fill:red;
// }

// .mat-icon {
//   fill:red;
// }

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.login-card {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-flat-button {
  align-self: flex-end;
}

// .forgot-password {
//   font-size: 10px;
//   color: rgba(52,52,52,0.54);
//   visibility: hidden;

//   a {
//     font-weight: 500;
//   }
// }