<mat-toolbar
    color="primary">
    Booker
    <div
        class="buttons">
        <button
            mat-button 
            *ngIf="userIsAuthenticated"
            (click)="onEvents()">
            Events
        </button>
        <button 
            mat-button
            *ngIf="userIsAuthenticated"
            (click)="onSearch()">
            Search
        </button>
        <button
            mat-button 
            *ngIf="!userIsAuthenticated" 
            (click)="onRegister()">
            Register
        </button>
        <button 
            mat-button 
            *ngIf="!userIsAuthenticated" 
            (click)="onLogin()">
            Login
        </button>
        <button 
            mat-button
            *ngIf="userIsAuthenticated"
            (click)="onFuture()">
            Future
        </button>
        <button 
            mat-button 
            (click)="onAbout()">
            About
        </button>
        <button 
            mat-button 
            *ngIf="userIsAuthenticated" 
            (click)="onLogout()">
            Logout
        </button>
</div>
</mat-toolbar>