<app-header></app-header>
<div class="text">
  <p>
    A lot of companies have tools that regulate the administration tasks such as ordering gym memberships, 
    food delivery, etc, and that's why I decided to come up with an app that helps to book and modify the meeting rooms.
    This application will help you to book
    the meeting rooms and see the schedule of those rooms. There is a possibility to delete and create the bookings through the web browser.
    The app is a web app that is available internally on the company's network which means it runs on the company server. 
    The app uses NodeJS server as the backend to retrieve and store the data. 
    The application has a frontend that is visible on the tablets but can be opened in the browsers too, where backend interacts with the MongoDB. 
    As for the technologies, I used the Angular framework for the frontend, Node.js for the backend, MongoDB as a database to store and secure and events,
    Google Sign-in which you can see in the Future tab.
  </p>
</div>
