<app-header></app-header>
<div class="wrapper">
  <mat-card class="registration-card">
    <form
      [formGroup]="registrationForm"
      (submit)="onRegister()">
      <mat-form-field class="example-full-width">
        <mat-label>
          E-mail
        </mat-label>
          <input 
            type="email" 
            matInput 
            formControlName="email" 
            email>
          <mat-error *ngIf="!registrationForm.get('email').valid">
            Error: Not a correct email
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>
            Password
          </mat-label>
          <input 
            type="password" 
            matInput 
            formControlName="password">
          <mat-error *ngIf="!registrationForm.get('password').valid">
            Error: No password
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Confirm Password
        </mat-label>
        <input 
          type="password" 
          matInput 
          formControlName="confirmPassword">
        <mat-error *ngIf="registrationForm.get('confirmPassword').errors">
          Error: Passwords are not the same
        </mat-error>
    </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!registrationForm.valid">
        REGISTER
      </button>
    </form>
  </mat-card>
</div>