::ng-deep {
    .mat-list-item-content {
        justify-content: space-between;
    }
}

.event-addition {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-card {
    width: 400px;
}

.mat-flat-button {
    align-self: flex-end;
}

.team {
    width: 50px;
}

.members {
    width: 50px;
}

.no-events {
    display: flex;
    justify-content: center;
    align-content: center;
}

.rooms {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px;

    .mat-raised-button.mat-button-base.mat-primary {
        margin: 10px;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .search-card {
        width: 400px;
    }

}
