<app-header></app-header>
<div>
  <div class="event-addition">
    <mat-card class="event-card">
      <form
        [formGroup]="eventAdditionForm" 
        (submit)="onAdd()">
        <mat-form-field class="example-full-width">
          <mat-label>
            Location
          </mat-label>
            <input 
            matInput 
            formControlName="location">
            <mat-error *ngIf="!eventAdditionForm.get('location').valid">
              Error: No location
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select a team</mat-label>
          <mat-select [(value)]="selected">
            <mat-option 
              value="NONE">
              NONE
            </mat-option>
            <mat-option 
              value="LAKERS">
              LAKERS
            </mat-option>
            <mat-option 
            value="BULLS">
            BULLS
            </mat-option>
            <mat-option 
            value="THESIS">
            THESIS
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>
              Members
            </mat-label>
            <input 
              matInput 
              formControlName="members">
            <mat-error *ngIf="!eventAdditionForm.get('members').valid">
              Error: No Members
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>
            YYYY-MM-DD HH:MM
          </mat-label>
          <input 
            matInput 
            formControlName="startDateAndTime">
          <mat-error *ngIf="!eventAdditionForm.get('startDateAndTime').valid">
            Error: No startDateAndTime
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>
            YYYY-MM-DD HH:MM
          </mat-label>
          <input 
            matInput 
            formControlName="endDateAndTime">
          <mat-error *ngIf="!eventAdditionForm.get('endDateAndTime').valid">
            Error: No endDateAndTime
          </mat-error>
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!eventAdditionForm.valid">
          ADD EVENT
        </button>
      </form>
    </mat-card>
  </div>
  <mat-list>
    <div 
      *ngIf="isEmpty" 
      class="no-events">
      <span>
        You have no events to display
      </span>
    </div>
    <mat-list-item *ngFor="let event of events">
      <div>
        <span>
          {{ event.location }}
        </span>
      </div>
      <div class="team">
        <span>
          {{ event.team }}
        </span>
      </div>
      <div class="members">
        <span>
          {{ event.members }}
        </span>
      </div>
      <div>
        <span>
          {{ event.startDateAndTime }}
        </span>
      </div>
      <div>
        <span>
          {{ event.endDateAndTime }}
        </span>
      </div>
      <button 
        mat-raised-button 
        color="primary" 
        (click)="onDelete(event._id)">
          DELETE
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
