<app-header></app-header>
<div class="wrapper">
  <p>
    As for the future developments the integration of Google Sign-in and Google Calendar API may be introduced.
    The example shown below demonstrates the use of Google Sign-in and retrieving the data from a person's account.
    Later on we can connect one primary calendar to this application and give access to the users.
  </p>
  <button 
    mat-raised-button
    color="primary"
    (click)="signIn()">
    Sign in
  </button>
  <button 
    mat-raised-button
    color="primary"
    (click)="onDone()">
    Done
  </button>
  <p>
    Please follow the link below to sign in with Google
  </p>
  <br>
  <a href="{{item}}" target="_blank">
    Click Here
  </a>

  <div *ngIf="isAuth">
    <p>
      You have been authorized
    </p>
  </div>
</div>

