<app-header></app-header>
<div class="search">
  <mat-card class="search-card">
    <form [formGroup]="searchForm" (submit)="onSearch()">
      <mat-form-field class="example-full-width">
        <mat-label>
          Search a name
        </mat-label>
        <input 
          matInput 
          formControlName="name">
          <mat-error *ngIf="!searchForm.get('name').valid">
            Error: No name
          </mat-error>
        </mat-form-field>
      <button
        [disabled]="!searchForm.valid" 
        mat-raised-button
        color="primary">
        SEARCH
      </button>
    </form>
  </mat-card>
  <mat-card class="team-search-card">
    <form [formGroup]="teamSearchForm" (submit)="onTeamSearch()">
      <mat-form-field class="example-full-width">
        <mat-label>
          Search a team
        </mat-label>
        <input 
          matInput 
          formControlName="teamSearch">
          <mat-error *ngIf="!teamSearchForm.get('teamSearch').valid">
            Error: No team
          </mat-error>
        </mat-form-field>
      <button
        [disabled]="!teamSearchForm.valid" 
        mat-raised-button
        color="primary">
        SEARCH
      </button>
    </form>
  </mat-card>
</div>
<div class="rooms">
  <button 
    mat-raised-button
    color="primary" 
    (click)="onRoom1()">
      Room1
  </button>
  <button 
    mat-raised-button 
    color="primary" 
    (click)="onRoom2()">
      Room2
  </button>
  <button 
    mat-raised-button 
    color="primary" 
    (click)="onRoom3()">
      Room3
  </button>
</div>

<mat-list>
  <div 
    *ngIf="isEmpty" 
    class="no-events">
    <span>
      You have no events to display
    </span>
  </div>
  <mat-list-item *ngFor="let event of events">
    <div>
      <span>
        {{ event.location }}
      </span>
    </div>
    <div class="team">
      <span>
        {{ event.team }}
      </span>
    </div>
    <div class="members">
      <span>
        {{ event.members }}
      </span>
    </div>
    <div>
      <span>
        {{ event.startDateAndTime.replace('T', ' ').substr(0, 16) }}
      </span>
    </div>
    <div>
      <span>
        {{ event.endDateAndTime.replace('T', ' ').substr(0, 16) }}
      </span>
    </div>
    <button 
      mat-raised-button 
      color="primary" 
      (click)="onDelete(event._id)">
        DELETE
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>