.search {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px;

  form {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .search-card {
      width: 400px;
  }

}

.team {
  width: 50px;
}

.members {
  width: 50px;
}

.no-events {
  display: flex;
  justify-content: center;
  align-content: center;
}

::ng-deep {
  .mat-list-item-content {
      justify-content: space-between;
  }
}

.rooms {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px;

  .mat-raised-button.mat-button-base.mat-primary {
      margin: 10px;
  }
}